*{
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 100px;
}
@media only screen and (min-width: 320px) and (max-width: 350px) {
	html{
		font-size: 100px;
	}
}
@media only screen and (min-width:351px) and (max-width: 380px) {
	html{
		font-size: 105px;
	}
}
@media only screen and (min-width: 381px) and (max-width: 416px) {
	html{
		font-size: 110px;
	}
}
@media only screen and (min-width:417px) and (max-width: 640px) {
	html{
		font-size: 115px;
	}
}
@media only screen and (min-width: 641px) and (max-width: 800px) {
	html{
		font-size: 120px;
	}
}
body{
	font-size:.12rem;
	font-weight: normal;
	font-family: "微软雅黑";
	background-color: #f7f7f7;
} 
.header{
	height: .44rem;
	width: 100%;
	text-align: center;
	background-color: #fff;
}
.header div{
	width: 33.3%;
	height: .44rem;
	float: left;
	font-size: .18rem;
	text-align: center;
	line-height: .44rem;
	color: #333333;
}
.header .rtn{
	width: .3rem;
	height: .3rem;
	display: block;
	float: left;
	margin-top: 7px;
    margin-left: 10px;
}
.header .rtn img{
	width: 100%;
	height: 100%;
}
.form-content{
	width: 100%;
	margin-top: .15rem;
}
.fm-tab{
	width: 100%;
	height: .55rem;
	background-color: #fff;
}
.fm-tab .fm-info{
	height: .55rem;
	margin-left: .15rem;	
}
.fm{
	height: .54rem !important;
	border-bottom: 1px solid #eeeeee;	
}
.fp{
	margin-top: .15rem;
}
.fm-info span.fm-img{
	position: relative;
	width: .3rem;
	height: .3rem;
	display: inline-block;
	top: .12rem;
	margin-right: 5px;
}
.fm-info span.fm-img img{
	width: 100%;
	height: 100%;
}
.fm-info span.fm-nm{
	position: relative;
    top: .07rem;
	color: #bbbbbb;
	font-size: .18rem;
	font-weight: 300;
}
.fm-info input{
	width: 1.7rem;
    height: .28rem;
    float: right;
    text-align: right;
    margin-top: .12rem;
    padding-right: 5px;
    margin-right: .15rem;
    font-size: .16rem;  
    border: 0;
    caret-color: blue;
 }


.set-content{
	margin-top: .15rem;
	height: .55rem;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}
.set-content a{
	color: #bbbbbb;
	text-decoration: none;
}
.per-box{
	height: .55rem;
	padding: 0 .2rem;
}
.pset{
	font-size: .16rem;
	line-height: .55rem;
}
.set-content .ahead{
	width: .2rem;
	height: .2rem;
	display: inline-block;
	float: right;
	margin-top: .17rem;
}
.set-content .ahead img{
	width: 100%;
	height: 100%;
}
